{% extends "admin/base_site.html" %}
{% load i18n %}

{% block userlinks %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">Home</a>
&rsaquo; Password Changed
</div>
{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block content %}
<div id="content-main">
<p class="success">{% trans 'Your password was changed successfully.' %}</p>
<p><a href="{% url 'admin:index' %}">{% trans 'Return to admin home' %}</a></p>
</div>
{% endblock %}
